<form action="/admin/login" method="post">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"></label>
  <input type="text" class="form-control" id="Inputuser" placeholder="Usuario" name="usuario">
</div>
<div class="mb-3">
   <label for="exampleFormControlInput1" class="form-label"></label>
  <input type="password" class="form-control" id="Inputpassword" placeholder="Contraseña" name="password">
</div>
<button type="submit" class="btn btn-primary">Ingresar</button>
</form>

{{#if error}}
<p> Usuario o contraseña incorrecta </p>
{{/if}}